In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import wikipedia
import pandas as pd

In [2]:
corpus = [
    wikipedia.page("Bern, Switzerland").content,
    wikipedia.page("Neuch창tel, Switzerland").content,
    wikipedia.page("Fribourg, Switzerland").content,
]

In [3]:
vectorizer = CountVectorizer()
document_term_matrix = vectorizer.fit_transform(corpus)

In [4]:
df = pd.DataFrame(document_term_matrix.toarray(), columns=vectorizer.get_feature_names_out(), index=["Bern", "Neuch창tel", "Fribourg"])
df = df.transpose()
df["Combined"] = df.sum(axis=1)
df = df.sort_values(by="Combined", ascending=False)
print("Top 10 most frequent words:\n")
df.head(10)

Top 10 most frequent words:

       Bern  Neuch창tel  Fribourg  Combined
the     522        447       603      1572
of      310        273       326       909
and     184        182       239       605
in      166        164       193       523
to       70         82        89       241
is       74         68        72       214
was      60         76        74       210
were     66         68        67       201
or       61         55        61       177
swiss    53         33        74       160